  

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-section {
  text-align: center;
}

.calendar-icon {
  color: #2e6963;
  width: 120px;
  margin: 0 auto 10px;
}

.calendar-icon svg {
  width: 100%;
  height: auto;
}

.calendar-section h2 {
  font-size: 32px;
  color: #2e6963;
  margin-bottom: 20px;
}

.dates {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 10px;
}

.date-box {
  background-color: #f4f4f4;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
}

.calendar-text {
  margin-top: 10px;
  font-size: 15px;
}

