.venv
.idea

planner-universitario-db-firebase-adminsdk-fbsvc-de1f6f0d21.json
firebase_config.py
__pycache__

notas.txt
@firebase_config
planner-universitario-db-firebase-adminsdk-fbsvc-1210edc333.json

node_modules
react

